.zhuti{
			width: 800px;
			margin: 10px auto;
		}
		.biaoti_div{
			width: 800px;
			margin: 10px auto;
			
		}
		
		.pic{
			width: 300px;
			float: left;
		}
		.pic img{
			width: 100%;
			display: block;
			height: auto;
		}
		.wenzi{
			float: right;
			width: 450px;
		}
		.mulu{
			width: 800px;
			margin: 10px auto;
			float: left;
		}
		p{
			text-shadow: 20px;
			color: gray;
		}
		h2{
			color: aliceblue;
		}
		ul li{
			list-style-type: square;
			color: aliceblue;
			font-size: 20px;
		}
		a{
			text-decoration: none;
		}
		a:visited{
			color: ghostwhite;
		}
		a:hover{
			color: yellow;
			font-weight: bolder;
		}
		a:active{
			color: white;
		}
		
